@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(to right,#0F2027,#203A43,#2C5364);
    font-family: 'Muli',sans-serif;
    /* background-image: linear-gradient(to top,#C6FFDD,#FBD786,#f7797d); */
    margin: 0;
    padding: 0;
    border: 0;
}

/* 固定页面的宽度 */
#allcontent { 
    width: 1519.5px;
    align-items: center;
}

/* 导航栏的样式设计 */
.daohang {
    background-image: linear-gradient(to right, #141E30, #243B55);
    height: 80px;
    margin: 10px;
    margin-bottom: 0%;
    padding-bottom: 5px;
    border: #C4E0E5 solid;
    /* border: #74ebd5 solid; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* 导航栏的表题 */
.daohang h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    line-height: 60px;
    display: flex;
    position: relative;
    /* margin-left: 700px; */
} 

nav {
    /* background-color: #FFFFFF; */
    background-image: linear-gradient(to rignt,#FFEFBA,#FFFFFF );
    position: relative;
    font-size: 28px;
    height: 90px;
    padding: 20px;
    margin-top: 5px;
    width: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: width 0.6s linear;
    overflow-x: hidden;

}

nav.active {
    width: 720px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 5px 0 5px;
    width: 0;
    transition: width 0.6s linear;
}

nav.active ul {
    width: 100%;
    /* margin: 3px; */
}

nav ul li {
    color: white;
    transform: rotateX(0dge);
    opacity: 0;
    margin: 5px;
    transition: transform 0.6ms linear, opacity 0.6ms linear;
}

nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
}

nav ul a {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 10px;
}

.icon {
    background-color: #141E30;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
}

.icon:focus {
    outline: 0;
}

.icon .line {
    background-color: #FFFFFF;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
}

.icon .line2 {
    top: auto;
    bottom: 10px;
}

nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
}

.gradient-text {
    color: transparent;
    background: conic-gradient(
        #D9D7F1 12%, 
        #BAABDA 12%, #BAABDA 33%, 
        #E7FBBE 33%, #E7FBBE 55%, 
        #FFCBCB 55%, #FFCBCB 70%, 
        #B5DEFF 70%, #B5DEFF 87%, 
        #F7D1BA 87%);
    background-size: 50%;
    background-clip: text;  
    -webkit-background-clip: text;

    animation: expand-rev 0.5s ease forwards;

    cursor: pointer;
    }

.gradient-text:hover {
    animation: expand 0.5s ease forwards;
}

@keyframes expand {
    0% {
        background-size: 50%;
        background-position: 0 0;
    }
    20% {
        background-size: 55%;
        background-position: 0 1em;
    }
    100% {
        background-size: 425%;
        background-position: -10em -4em;
    }
}

@keyframes expand-rev {
    0% {
        background-size: 325%;
        background-position: -10em -4em;
    }
    20% {
        background-size: 55%;
        background-position: 0 1em;
    }
    100% {
        background-size: 50%;
        background-position: 0 0;
    }
}

.footer {
    color:            #FFF;
    text-align:       center;
    padding:          15px;
    margin: 0px 10px 10px 10px;
}

h2 {
    font-family: "SimSun";
    color: #FFF;
    font-size: 28px;
    text-align: center;
}

#contact {
    /* background-color: #B5DEFF; */
    margin: 10px;
    /* border: #BAABDA solid 2px; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#Biaoge {
    color: #FFF;
    border: #BAABDA solid 2px;
    font-family: "SimSun";
    font-size: 20px;
    line-height: 40px;
    margin-left: 10px;
}
input {
    font-family: "SimSun";
    font-size: 18px;
}

a {
    color: #FFEFBA;
}

